### local ###

.deploy/local/.env
.idea

.DS_Store
Thumbs.db

### application ###

.env.local
/.sculpin/
/app/cache/*
/app/config/sculpin_kernel_*.yml
/app/config/sculpin_site_*.yml
/app/logs/*
/output_*/
/node_modules/
/source/build/
s3.conf
/vendor/
