### local ###

.idea
.bashrc
.deploy/local/.env

.DS_Store
Thumbs.db

### application ###

.env.local
/.sculpin/
/app/cache/*
/app/config/sculpin_kernel_*.yml
/app/config/sculpin_site_*.yml
/app/logs/*
/output_*/
/node_modules/
/source/assets/
s3.conf
/vendor/
